/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

.text-color {
  @apply text-veryDarkBlue-2 dark:text-white;
}

.bg-color {
  @apply bg-veryLightGray dark:bg-veryDarkBlue-1;
}

.bg-color-component {
  @apply bg-white dark:bg-darkBlue;
}

.padding-x {
  @apply px-[20px] md:px-[80px];
}
